.foto{width: 400px;border-radius: 50%;}
#intro{
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(rgb(238, 44, 44) 0%,rgba(255, 251, 1, 0.945) 100%);
}
.nome{font-size: 40px;
    font-family: 'Orbitron', sans-serif;}
#sobre{text-align: center;
    background: linear-gradient(rgba(255, 251, 1,0.945) 0%,rgba(238, 44, 44, 1) 100%);}
    *{
        margin: 0;
    }
        ul{
            list-style: none;
            position:fixed;
            top:10px;
            right:30px;
            cursor:pointer;
            z-index:10;
        }

        .item{
            float:left;
            padding:5px 10px;
            font-size:20px;
        }
        .logo{
            height:200px;
        }
        .carro{
            height:599px ;
        }